
  <template>


<b-row>
    <b-col cols="12">

       <b-jumbotron>
        <template slot="header">
          {{car.carname}}
        </template>
    
        <img src="../assets/images/icon_js.jpg">

    <p><em>Start your car</em></p>
    <p class="voice_instructions">"start car"</p>
    <img id="engine"  src="../assets/images/1.jpg">
    <p id="hello" class="hidden">car start</p>
      
  
  <p id="hello1" class="hidden">
  stop car
  
      </p>
  
  

  
 <p><em>turn the light on</em></p>
    <p class="voice_instructions">"light turn on"</p>

<img id="light" class="hidden" src="../assets/images/b2.jpg">

     <img id="light1" class="hidden" src="../assets/images/b1.jpg">

  
 <p><em>Check the weel pression</em></p>
    <p class="voice_instructions">"check wheels"</p>
         <img id="car" class="hidden" src="../assets/images/wi.jpg">
            </b-jumbotron>
    </b-col>
  </b-row>

</template>





<script>

import axios from 'axios'


export default {

  name: 'CarsSound',
  data () {
    return {
      car: []
     
    }
  },
    created () {
    axios.get(`http://localhost:3000/car/` + this.$route.params.id)
    .then(response => {
      this.car = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  mounted (){
    
  // first we make sure annyang started succesfully
  if (annyang) {

    // define the functions our commands will run.
    var hello = function() {
      $("#hello").slideDown("slow");
      scrollTo("#section_hello");
        $("#hello1").slideUp("slow");
      scrollTo("#hello1");
    };
    var hello1 = function() {
      $("#hello1").slideDown("slow");
      scrollTo("#hello1");
      $("#hello").slideUp("slow");
      scrollTo("#hello");
    };

// define the functions our commands will run.
    var light = function() {
      $("#light").slideDown("slow");
      scrollTo("#section_image_search1");
        $("#light1").slideUp("slow");
      scrollTo("#light1");
    };
    var light1 = function() {
      $("#light1").slideDown("slow");
      scrollTo("#light1");
      $("#light").slideUp("slow");
      scrollTo("#light");
    };

        // define the functions our commands will run.
    var car = function() {
      $("#car").slideDown("slow");
      scrollTo("#section_biz_use");

    };


    var getStarted1 = function() {
        axios.put(`http://localhost:3000/car/traiter1/5aeafe748379243028e6a203`)
       //   axios.put(`http://localhost:3000/car/traiter1/`+ this.$route.params.id, this.car)
     
    }
    var getStarted = function() {
          axios.put(`http://localhost:3000/car/traiter/5aeafe748379243028e6a203`)
   //  axios.put(`http://localhost:3000/car/traiter/`+ this.$route.params.id, this.car)
   
    }  

    // define our commands.
    // * The key is the phrase you want your users to say.
    // * The value is the action to do.
    //   You can pass a function, a function name (as a string), or write your function as part of the commands object.
    var commands = {
      'engine start':        hello,
      'engine check':        hello1,
           'light turn on':        light,
      'light turn off':        light1,
              'check car':        car,
      'stop car':   getStarted1,
      'start car':   getStarted,
    };

    // OPTIONAL: activate debug mode for detailed logging in the console
    annyang.debug();

    // Add voice commands to respond to
    annyang.addCommands(commands);

    // OPTIONAL: Set a language for speech recognition (defaults to English)
    // For a full list of language codes, see the documentation:
    // https://github.com/TalAter/annyang/blob/master/docs/FAQ.md#what-languages-are-supported
    annyang.setLanguage('en');

    // Start listening. You can call this here, or attach this call to an event, button, etc.
    annyang.start();
  } else {
    $(document).ready(function() {
      $('#unsupported').fadeIn('fast');
    });
  }

  var scrollTo = function(identifier, speed) {
    $('html, body').animate({
        scrollTop: $(identifier).offset().top
    }, speed || 1000);
  }
 
  }
}


</script>
