<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Edit Car
        <b-link href="#/list-cars">(Car List)</b-link>
      </h2>
      <b-jumbotron>
        <template slot="header">
          {{car.carname}}
        </template>
        <template slot="lead">
          Serial: {{car.isbn}}<br>
          Brand: {{car.carbrand}}<br>
          Description: {{car.description}}<br>
          Creation Year: {{car.creation_year}}<br>
          Available: {{car.available}}<br>
          Engine: {{car.engine}}<br>
        </template>
        <hr class="my-4">
        <p>
          Updated Date: {{car.updated_date}}
        </p>
        <b-btn variant="success" @click.stop="editcar(car._id)">Edit</b-btn>
        <b-btn variant="danger" @click.stop="deletecar(car._id)">Delete</b-btn>
      </b-jumbotron>
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'ShowCar',
  data () {
    return {
      car: []
    }
  },
  created () {
    axios.get(`http://localhost:3000/car/` + this.$route.params.id)
    .then(response => {
      this.car = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    editcar (carid) {
      this.$router.push({
        name: 'EditCar',
        params: { id: carid }
      })
    },
 
 
     deletecar (carid) {
        this.$dialog.confirm('Cette action est définitive! Etes-vous sur de vouloir supprimer?', {
          loader: true
        })
        .then((dialog) => {
              axios.delete('http://localhost:3000/car/' + carid)
                .then((result) => {
        this.$router.push({
          name: 'CarList'
        })
      }) 
                   setTimeout(() => {
              console.log('Produit supprimé')
              dialog.close()
            }, 1500)
          
        })
        .catch(() => {
            console.log('Suppression annulée')
        });
    }
  }
}
</script>

<style>
  .jumbotron {
    padding: 2rem;
  }
</style>
