<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Add Employee
        <b-link href="#/list-employees">(Employee List)</b-link>
      </h2>
      <b-form @submit="onSubmit">
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter firstname">
          <b-form-input id="firstname" :state="state" v-model.trim="employee.firstname" ></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter lastname">
          <b-form-input class="controle" id="lastname" :state="state" v-model.trim="employee.lastname"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter email">
          <b-form-input class="controle" id="email" :state="state" v-model.trim="employee.email"></b-form-input>
        </b-form-group>
        <b-form-group id="fieldsetHorizontal"
                  horizontal
                  :label-cols="4"
                  breakpoint="md"
                  label="Enter date de naissance">
          <datepicker id="date_naissance" :state="state" v-model.trim="employee.date_naissance"></datepicker>
        </b-form-group>

      


        <b-button  type="submit" variant="primary">Save</b-button>
   <div>
  
    <b-modal v-model="modalShow">
      pop
    </b-modal>
  </div>
      </b-form>


    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'
import Datepicker from 'vuejs-datepicker'

export default {
  // ...
  components: {
    Datepicker
  },
  name: 'CreateEmployee',
  data () {
    return {
      employee: {},
      modalShow: false
    }
  },

  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      axios.post(`http://localhost:3000/employees`, this.employee)
      .then(response => {
        this.$router.push({
          name: 'ShowEmployee',
          params: { id: response.data._id }
        })
      }).catch(e => {
        this.errors.push(e)
      })
    }
  },
  mounted: function () {
  }
}
</script>
