<template>

  <b-row>
    <b-col cols="12">
      <h2>
        Employee List
        <b-link href="#/add-employee">(Add Employee)</b-link>
      </h2>
      <div class="form-group">
        Search by name: <input type="text" name="employee-name" class="form-control" :value="firstname" @keyup="searchemployee">
      </div>
      
      <b-table striped hover :items="employees" :fields="fields">
        <template slot="actions" scope="row">
          <b-btn size="sm" @click.stop="details(row.item)">Details</b-btn>
        </template>
      </b-table>
      
    </b-col>
  </b-row>
</template>

<script>

import axios from 'axios'

export default {
  name: 'EmployeeList',
  data () {
    return {
      fields: {
        firstname: { label: 'firstname', sortable: true, 'class': 'text-center' },
        lastname: { label: 'lastname', sortable: true },
        email: { label: 'email', sortable: true },
        date_naissance: { label: 'date_naissance', sortable: true },
        actions: { label: 'Action', 'class': 'text-center' }
      },
      employees: [],
      employeesCopy: [],
      errors: [],
      firstname: ''
    }
  },
  created () {
    axios.get(`http://localhost:3000/employees`)
    .then(response => {
      this.employees = response.data
      this.employeesCopy = this.employees
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    searchemployee (evt) {
      evt.preventDefault()
      this.employees = this.employeesCopy
      this.employees = this.employees.filter(value => value.firstname.startsWith(this.firstname))
    },
    details (employee) {
      this.$router.push({
        name: 'ShowEmployee',
        params: { id: employee._id }
      })
    }
  },
  beforeCreate: function () {
    if (this.$store.getters.isLoggedIn === false) {
      this.$router.push({name: 'Login'})
    }
  }
}
</script>
