<template>
  <b-row>
    <b-col cols="12">
      <h2>
        Edit Employee
        <b-link href="#/list-employees">(Employee List)</b-link>
      </h2>
      
  <b-card title="Card Title"
          img-src="https://res.cloudinary.com/dgeuly81c/image/upload/v1524222279/malekmahjoub/1897926_806688322692238_1475608950_n.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
        <template slot="header">
          firstname: {{employee.firstname}}<br>
          lastname: {{employee.lastname}}<br>
          email: {{employee.email}}<br>
          date_naissance: {{employee.date_naissance}}<br>
        </template>
       
    <b-btn variant="success" @click.stop="editemployee(employee._id)">Edit</b-btn>
    <b-btn variant="danger" @click.stop="deleteemployee(employee._id)">Delete</b-btn>
  </b-card>
          
  
    </b-col>
  </b-row>








</template>

<script>

import axios from 'axios'

export default {
  name: 'ShowEmployee',
  data () {
    return {
      employee: []
    }
  },
  created () {
    axios.get(`http://localhost:3000/employees/` + this.$route.params.id)
    .then(response => {
      this.employee = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    editemployee (employeeid) {
      this.$router.push({
        name: 'EditEmployee',
        params: { id: employeeid }
      })
    },
    deleteemployee (employeeid) {
      axios.delete('http://localhost:3000/employees/' + employeeid)
      .then((result) => {
        this.$router.push({
          name: 'EmployeeList'
        })
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  }
}
</script>

<style>
  .jumbotron {
    padding: 2rem;
  }
</style>
