
<template>


  <b-container fluid>
<b-nav class="navbar navbar-expand-lg navbar-light bg-light">
<b-navbar-brand href="#">
     <img src="./assets/images/ico.png" alt="Logo" class="logo img-responsive">
    </b-navbar-brand>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
        <b-nav-item-dropdown text="Menu" right>
        <b-dropdown-item href="http://localhost:3000/#/list-cars">List Cars</b-dropdown-item>
        <b-dropdown-item href="http://localhost:3000/#/list-employees">List Employees</b-dropdown-item>
        <b-dropdown-item href="http://localhost:3000/#/ob">Statistics</b-dropdown-item>
        </b-nav-item-dropdown>
        
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          <em>User</em>
        </template>
        <b-dropdown-item href="#">Signout</b-dropdown-item>
      </b-nav-item-dropdown>
    </form>
  </div>

</b-nav>
<br>
<br><br>

    <router-view/>
  </b-container>


</template>
<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 30px;

}
</style>
